<a href="/book/<%= book.get_title() %>/<%= book.volumes ? 'true' : 'false' %>" class="book_card_container"> 
    <img src="/assets/images/book_placeholder_2.png" alt="Book placeholder">
    <div class="book_card_container_info">
        <p class="book_card_container_title"> <%= book.get_title() %> </p>
        <p class="book_card_container_author"> <%= book.get_author() %> </p>
        <div class="book_card_container_row">
            <p> <%= book.get_category() %> </p>
            <p> <%= book.get_pages() %> pp.</p>
        </div>
        <p class="book_card_subcategory"> <%= book.get_subcategory() %> </p>
        <p class="book_card_container_price"> <%= book.get_price() %> &euro; </p>
    </div>
    <button class="book_card_container_addToCart" data-title="<%= book.get_title() %>">
        Add to cart  
        <svg width="800px" height="800px" class="svg-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M21 5L19 12H7.37671M20 16H8L6 3H3M16 5.5H13.5M13.5 5.5H11M13.5 5.5V8M13.5 5.5V3M9 20C9 20.5523 8.55228 21 8 21C7.44772 21 7 20.5523 7 20C7 19.4477 7.44772 19 8 19C8.55228 19 9 19.4477 9 20ZM20 20C20 20.5523 19.5523 21 19 21C18.4477 21 18 20.5523 18 20C18 19.4477 18.4477 19 19 19C19.5523 19 20 19.4477 20 20Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg> 
    </button>
</a>
