<img src="/assets/images/book_placeholder.png" alt="book image"/>
<p class="cart_item_title" > <%= item.title %> </p>
<p> <%= item.author %> </p>
<p> <%= item.category %> </p>
<div>
   <p> <%= item.quantity %> </p>
   <div class="cart_item_quantity">
      <button> + </button>
      <button> - </button>
   </div>
</div>
<button> x </button>
<p> <%= item.price %> </p>