<!DOCTYPE html>
<html lang="PL-pl">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title> <% if (success) { %>
      Bookworms - <%= book.title %>
   <% } else { %> 
      Bookworms
   <% } %> </title>
   <link rel="stylesheet" href="/style.css">
</head>
<body>
   <div class="wrapper">
      <%- include('partials/header', { logged }) %>
      <% if (success) { %>
      <section class="container">
         <a href="/" class="back"> Go back </a>
         <%= book.title %>
         <%= book.author %>
      </section>
      <% } else { %>
      <section class="container">
         <a href="/" class="back"> Go back </a>
         <h2> Book not found </h2>
      </section>
      <% } %>
      <%- include('partials/footer') %>
   </div>
</body>
</html>