<!DOCTYPE html>
<html lang="PL-pl">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title> Checkout </title>
   <link rel="stylesheet" href="/style.css">
</head>
<body>
   <div class="wrapper">
      <%- include('partials/header') %>
      <%- include('partials/infoBox') %>
      <section class="container">
         <% if (logged && items.length > 0) { %>
            <h1 class="checkout_header"> Checkout </h1>
            <form class="checkout_container" id="checkout">
               <div class="checkout_container_left">
                  <div class="checkout_container_left_wrapper">
                     <div class="checkout_container_left_shipping">
                        <p> Shipping address </p>
                        <label for="name"> Name </label>
                        <label for="surname"> Surname </label>
                        <input type="text" id="name">
                        <input type="text" id="surname">
                        <label for="street"> Street </label>
                        <label for="city"> City </label>
                        <input type="text" id="street" >
                        <input type="text" id="city">
                        <label for="postal_code"> Postal code </label>
                        <label for="country"> Country </label>
                        <input type="text" id="postal_code">
                        <input type="text" id="country">
                        <p class="checkout_container_left_shipping_errorText"> </p>
                     </div>
                     <div class="checkout_container_left_payment">
                        <p> Payment method </p>
                        <label for="card_number"> Card number </label>
                        <label for="expiration_date"> Expiration date </label>
                        <input type="text" id="card_number">
                        <input type="text" id="expiration_date" placeholder="ex. 01/24">
                        <label for="cvv"> CVV </label>
                        <label for="cardholder_name"> Cardholder name </label>
                        <input type="text" id="cvv">
                        <input type="text" id="cardholder_name">
                        <p class="checkout_container_left_payment_errorText"> </p>
                     </div>
                     <div class="checkout_container_left_agreement">
                        <input type="checkbox" id="agreement">
                        <label for="agreement"> I agree to the terms and conditions </label>
                        <p class="checkout_container_left_agreement_error"> </p>
                     </div>
                  </div>
               </div>
               <div class="checkout_container_right">
                  <p> Summary </p>
                  <div class="checkout_container_right_summary_items">
                     <ul>
                        <p> Items </p>
                        <% items.forEach((element, index) => { %>
                        <li class="checkout_item">
                           <img src="/assets/images/book_placeholder_2.png" alt="book image"/>
                           <div>
                              <p class="checkout_item_title" ><%= element.book.title%> </p>
                              <p class="checkout_item_quantity"> <%= element.quantity %> pcs. </p>
                              <p class="checkout_item_price" ><%= element.book.price%> &euro; </p>
                           </div>
                        </li>
                        <% }); %>
                     </ul>
                  </div>
                  <p class="checkout_container_right_total"> Total price: <%= cartTotal %> &euro; </p>
                  <button id="place_checkout"> Order </button>
               </div>
            </form>
         <% } else { %>
            <p class="checkout_container_error"> You need to be logged in and have items in your cart to place an checkout </p>
         <% } %>
      </section>
      <%- include('partials/footer') %>
   </div>
   <script>
      document.addEventListener('DOMContentLoaded', () => {
         const infoBox = document.querySelector('.info-box_container');
         const infoBoxText = document.querySelector('.info-box_text');

         const shippingErrorInfo = document.querySelector('.checkout_container_left_shipping_errorText');
         const paymentErrorInfo = document.querySelector('.checkout_container_left_payment_errorText');
         const agreementErrorInfo = document.querySelector('.checkout_container_left_agreement_error');

         document.getElementById('checkout').addEventListener('submit', async function(event) {
            event.preventDefault();

            const name = document.getElementById('name').value;
            const surname = document.getElementById('surname').value;
            const street = document.getElementById('street').value;
            const city = document.getElementById('city').value;
            const postalCode = document.getElementById('postal_code').value;
            const country = document.getElementById('country').value;
            const cardNumber = document.getElementById('card_number').value;
            const expirationDate = document.getElementById('expiration_date').value;
            const cvv = document.getElementById('cvv').value;
            const cardholderName = document.getElementById('cardholder_name').value;
            const agreement = document.getElementById('agreement').checked;

            if (!name || !surname || !street || !city || !postalCode || !country) {
               shippingErrorInfo.innerText = 'Please fill all fields';
               shippingErrorInfo.style.display = 'block';
               return;
            }

            shippingErrorInfo.style.display = 'none';

            if (cardNumber.length !== 16) {
               paymentErrorInfo.innerText = 'Invalid card number';
               paymentErrorInfo.style.display = 'block';
               return;
            }

            if (expirationDate.length !== 5) {
               paymentErrorInfo.innerText = 'Invalid expiration date';
               paymentErrorInfo.style.display = 'block';
               return;
            }

            if (cvv.length !== 3) {
               paymentErrorInfo.innerText = 'Invalid CVV';
               paymentErrorInfo.style.display = 'block';
               return;
            }

            paymentErrorInfo.style.display = 'none';
            
            if (!agreement) {
               shippingErrorInfo.innerText = 'You need to agree to the terms and conditions';
               shippingErrorInfo.style.display = 'block';
               return;
            }

            agreementErrorInfo.style.display = 'none';

            try 
            {
               const response = await fetch('/api/checkout', {
                  method: 'POST',
                  headers: {
                     'Content-Type': 'application/json'
                  },
                  body: JSON.stringify({
                     name,
                     surname,
                     street,
                     city,
                     postalCode,
                     country,
                     cardNumber,
                     expirationDate,
                     cvv,
                     cardholderName
                  })
               });

               const data = await response.json();

               console.log(data);

               if(data.success)
               {
                  infoBoxText.innerText = data.message;
                  infoBox.classList.add('info-box_success');
                  infoBox.classList.remove('info-box_hidden');
                  setTimeout(() => {
                     infoBox.classList.add('info-box_hidden');
                     window.location.href = '/';
                  }, 4000);
               }
               else
               {
                  infoBoxText.innerText = data.error;
                  infoBox.classList.remove('info-box_success');
                  infoBox.classList.remove('info-box_hidden');
                  setTimeout(() => {
                     infoBox.classList.add('info-box_hidden');
                  }, 4000);
               }
            }
            catch (error)
            {
               infoBoxText.innerText = 'An error occurred';
               infoBox.classList.remove('info-box_hidden');
                setTimeout(() => {
                    infoBox.classList.add('info-box_hidden');
                }, 4000);
            }
         })
      });
   </script>
</body>
</html>